<html ng-app="loginapp">
    <head>
        <title> Ticketing System </title>
    </head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/login.css">
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js">
      </script>
       <script src="{{STATIC_URL}}js/angular.js"></script>
       <script src="{{STATIC_URL}}js/angular_resource.js"></script>
        <script src="{{STATIC_URL}}js/cookies.js"></script>
    <body >
      {%verbatim%}
        <div  class="maindiv" ng-controller="loginController">
            <div class="heading">Ticketing System
              {%endverbatim%}
                            <a href="/logout/" style="float: right;position: relative;margin-left:10px;"><button >logout</button></a>

              <div style="color: white;float: right;
font-size: 25px;display: inline-block;">{{username}}</div>
              {%verbatim%}
              
            </div>
            <div class="tabs_div" ng-init="tab='ticket'">
              <div class="indi_tab" ng-click="tab='ticket'" ng-class="{thisisselected:tab=='ticket'}">Tickets</div>
              <!-- <div class="indi_tab" ng-click="tab='perfomance'">Performance</div> -->
            </div>
            <div class="inside_box" ng-show="tab=='ticket'">
              
              <div class="inside_search_tab">
                <!-- <div class="right_box"><input type="text" placeholder="search"></input></div> -->
                
                <div class="right_box"><select ng-change="fetch_sorted(myField)" ng-model="myField" ng-options="field for field in fields">
                  <option value="">-- sort --</option>
                </select></div>
                <div class="right_box"><select ng-change="fetch_filtered(myFilter)" ng-model="myFilter" ng-options="filter for filter in filters">
                  <option value="">-- filter by priority or status --</option>
                </select></div>
                            <table ng-show="!show_addnew" style="position: relative;top: 30px;">
                                     <tr>
                                         <th class="common_style" ng-show="key_head!='id'" ng-repeat="(key_head,val) in list_details[0]">
                                          <span style="width: 100px;display: block;text-align: center;">{{key_head}}</span>
                                        </th>
                                     </tr>
                                     
                                     <tr ng-repeat="(item1,key) in list_details">
                                        <td class="common_style" ng-show="key!='id'" ng-repeat="(key,val) in list_details[item1]">
                                          <span ng-show="key!='status'">{{val}}</span>
                                          <span ng-show="key=='status'">
                                            <select ng-change="change_status(list_details[item1])" ng-model="list_details[item1]['status']" ng-options="field for field in ['Open','Closed','Working']">
                                              <option value="">-- select --</option>
                                            </select>
                                          </span>
                                        </td>
                                      </tr>
                             </table>
               
              </div>
              </div>
            </div>

        {%endverbatim%}
    
    </body>
 <script src="{{STATIC_URL}}js/login.js"></script>
</html>
