<html ng-app="loginapp">
    <head>
        <title> Ticketing System </title>
    </head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/login.css">
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js">
      </script>
       <script src="{{STATIC_URL}}js/angular.js"></script>
       <script src="{{STATIC_URL}}js/angular_resource.js"></script>
        <script src="{{STATIC_URL}}js/cookies.js"></script>
    <body >
        <div  class="maindiv" ng-controller="loginController">
            <div class="heading">Ticketing System</div>
            
        </div>
    </body>
 <script src="{{STATIC_URL}}js/login.js"></script>
</html>
