<html ng-app="loginapp">
    <head>
        <title> Ticketing System </title>
    </head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/login.css">
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js">
      </script>
       <script src="{{STATIC_URL}}js/angular.js"></script>
       <script src="{{STATIC_URL}}js/angular_resource.js"></script>
        <script src="{{STATIC_URL}}js/cookies.js"></script>
    <body >
      {%verbatim%}
        <div  class="maindiv" ng-controller="loginController">
            <div class="heading">Ticketing System
              {%endverbatim%}
              
              <div style="color: white;float: right;
font-size: 25px;display: inline-block;">{{username}}</div>
              {%verbatim%}
            </div>
            <div class="tabs_div" ng-init="tab='ticket'">
              <div class="indi_tab" ng-click="tab='ticket'">Tickets</div>
              <div class="indi_tab" ng-click="tab='perfomance'">Perfomance</div>
            </div>
            <div class="inside_box" ng-show="tab=='ticket'">
              
              <div class="inside_search_tab">
                <div class="right_box"><input type="text" placeholder="search"></input></div>
                
                <div class="right_box"><select ng-change="fetch_sorted(myField)" ng-model="myField" ng-options="field for field in fields">
                  <option value="">-- sort --</option>
                </select></div>
                <div class="right_box"><select ng-change="fetch_filtered(myFilter)" ng-model="myFilter" ng-options="filter for filter in filters">
                  <option value="">-- filter by priority and status --</option>
                </select></div>

               
                  </div>
              </div>
            </div>

        {%endverbatim%}
    </body>
 <script src="{{STATIC_URL}}js/login.js"></script>
</html>
